@use "../../shared/styles/colors";
.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 20% min-content;
  column-gap: 0.5rem;
  background-color: colors.$white;
  border-radius: 12px;
}
.info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "name name"
    "assignee priority"
    "due due";
  gap: 0.5rem;
}
.name {
  grid-area: name;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
}
.assignee {
  grid-area: assignee;
  color: colors.$gray-500;
  align-self: center;
}

.priority {
  grid-area: priority;
  place-self: start;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-size: 0.8rem;
}

//priority
.urgent {
  background-color: #ff4c4c;
}
.high {
  background-color: #ffa500;
}
.normal {
  background-color: #4c9aff;
}
.low {
  background-color: #8bc34a;
}

.storyPoints {
}
.dueDateContainer {
  margin: 0;
  grid-area: due;
  display: flex;
  flex-direction: column;
}
.dueDateRaw {
  color: colors.$gray-500;
}
.actions {
  display: flex;
  gap: 0.5rem;
  place-self: center;
}
.completeCheckbox,
.removeTask {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
}

// status
.completed,
.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.completed {
  background-color: colors.$completed-todo;
}
.active {
  background-color: colors.$active-todo;
}
