@use "./../../shared/styles/colors";
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: 1px solid red;
}
.title {
  margin: 0;
}

.label {
  display: none;
  position: relative;
}
.input {
  outline: none;
  width: 100%;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  padding: 0.8rem 0.5rem;
}

.select {
}
.error {
  padding-left: 0.5rem;
  color: red;
  font-size: 0.8rem;
}

.button {
  background-color: colors.$orange-500;
  border: 0;
  padding: 1rem;
  border-radius: 12px;
  color: colors.$light-gray-250;
}
