@use "./../../shared/styles/colors";
.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  margin: 0;
}

.label {
  display: none;
  position: relative;
}
.input {
  outline: none;
  width: 100%;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  padding: 0.8rem 0.5rem;
}

.error {
  padding-left: 0.5rem;
  color: red;
  font-size: 0.8rem;
}

.button {
  background-color: colors.$orange-500;
  border: 0;
  padding: 1rem;
  border-radius: 12px;
  color: colors.$light-gray-250;
  box-shadow: 0px 2px 10px 0px colors.$completed-todo;
}

@media (min-width: 768px) {
  .form {
    margin: 0 auto;
    max-width: 450px;
  }
}
